#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=theFrame
GenericName=Animation Tool
GenericName[vi]=Công cụ hoạt hình
Categories=AudioVideo;Video;
Exec=theframe %U
Icon=theframe
MimeType=application/x-theframe-project
